*.class
*.war
*.ear
hs_err_pid*

/.idea
/out
/src/META-INF/*
bd_config.txt
config.txt
ensino_individualizado_launcher.iml
ensino_individualizado_launcher.xml
ensino_individualizado_launcher.properties
module_ensino_individualizado_launcher.xml
remote_application_ressources.json
